<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<display-name>
		Starbucks
    </display-name>
	<description>
		Coffee shop rest application 
    </description>

<!-- <context-param> <param-name>resteasy.scan</param-name> <param-value>true</param-value> 
		</context-param> -->

	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>starbucks.service.resteasyjackson.StarbucksService</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>


	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>StarbucksServlet</servlet-name>
		<servlet-class>starbucks.service.servlet.StarbucksService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StarbucksServlet</servlet-name>
		<url-pattern>/starbucks.do</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file>/index.html</welcome-file>

</web-app>